@import "../../node_modules/normalize.css/normalize";
// @import "../../node_modules/slick-carousel/slick/slick";
// @import "../../node_modules/magnific-popup/dist/magnific-popup";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

button:hover,
button:active,
button:focus {
  outline: none;
}

.main-wrapper {
  width: 70%;
  margin: 0 auto;
  @media screen and (max-width: 1400px) {
    width: 80%;
  }
  @media screen and (max-width: 1024px) {
    width: 90%;
  }
}

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background-color: #ecedee;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: rgb(163, 162, 162);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #79b260;
}
::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 15px;
  height: 0px;
}
::-webkit-scrollbar {
  width: 7px;
}
